

@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

h1 {
    font-family: 'trebuchet ms', sans-serif';
}
#loading-screen {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.45);
    z-index: -1;
}

#btn-comenzar {
    padding: 16px 32px;
    font-size: 40px;
    border:grey solid 2px;
    border-radius: 10px;
    background: rgba(92, 233, 85, 0.2);
    color: white;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: 0.5s;
}

#btn-comenzar:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

/* Menú principal */
#menu-principal {
    display: flex;
    text-align: center;
    margin-top: 10%;
    color: white;
}

body {
    margin: 0;
    background: #e3dede;
    font-family: 'trebuchet ms', sans-serif';

}

/* Botones del menú */
.menu-btn {
    padding: 15px 40px;
    margin: 20px;
    background: #56e472;
    border: grey soild 2px;
    border-radius: 10px;
    font-size:40px;
    color: white;
    cursor: pointer;
    transition: .s;
}

.menu-btn:hover {
    background: #042f06;
    transform: scale(1.05);
}
